body {background-color: powderblue;}
		#header	{	background-color: white;
							font-size: 40;
							padding: 7px;
						}
		#header ul	{	margin: 0;
									padding: 0;
									list-style-type: none;
									text-align: right;
								}
		#header ul li	{display: inline;}
		#header ul li a { text-decoration: none;
											padding: .2em 1em;
											color: #fff;
											background-color: #036;}
		#header ul li a:hover{color: #fff; background-color: #369;}									
		#middle	{background-color: red;}